[2015-03-27 07:42] forki opened #1 "Remove everything that's not AsyncSeq"

[2015-03-27 07:50] CarstenKoenig commented on #1
I will have a look at this later today - want it in a dev branch for now?

[2015-03-27 08:04] forki commented on #1
I already have a commit here hich removes most stuff, but can't push because of  DDOS of github...

[2015-03-27 08:22] forki commented on #1
* the stuff that can't be removed should be internalized.
* try to get everything into one file so that we can use paket to link the file

[2015-03-27 12:24] forki opened #2 "Rename Namespace and Project and Package to FSharp.Control.AsyncSeq"

[2015-03-27 12:42] CarstenKoenig commented on #2
I think I'll start with this - should be not to hard ;)

[2015-03-27 13:09] CarstenKoenig opened #3 "Missing XmlTransform library on Linux/Mono"
using the `build.sh` script on Linux/Mono you will most likely see this:

[code]

I think this is the same issue we had here: https://github.com/fsharp/FAKE/issues/587 (or so I think).

Any thoughts on this?

[2015-03-27 13:10] CarstenKoenig commented on #2
I changed the namespaces everywhere I could find them:

https://github.com/fsprojects/AsyncSeq/commit/cb6f13624287d733b351293eee4d7c26cc158505

For now I put this into the **develop** branch but I don't think there is much to review.

[2015-03-27 13:32] CarstenKoenig commented on #2
Ok done (https://github.com/fsprojects/AsyncSeq/commit/afc1c3e31f65d397d7b6c5980a406048097a9cbf) - is this the desired namespace or do you indeed want everthing to sit in `FSharp.Control.AsyncSeq` (including `FSharp.Control.AsyncSeq.AsyncSeq`?)

[2015-03-27 16:31] dsyme commented on #2
I edited the title of this issue to "rename project, package and namespace to FSharp.Control.AsyncSeq".  I'd like all three to use the full name, just like FSharp.Compiler.CodeDom, or FSharp.Collections.ParallelSeq.

I'll rename the repo in a bit.

Thanks
don

[2015-03-27 16:34] forki commented on #2
Then there is also the nuget package that needs to be renamed

[2015-03-27 16:41] dsyme commented on #2
Yep, will do that.  I'm working on renaming all the doc gen etc will submit a PR soon

[2015-03-27 17:22] dsyme commented on #1
@CarstenKoenig  - I jumped in and did most of this in #4, please take a look, thanks

[2015-03-27 17:26] #1 closed

[2015-03-27 17:27] CarstenKoenig commented on #1
yes this should fix both - thank you.

As we are at it - what workflow do you prefer here: fork the repo and bring in pull-requests? Working on branches and merging those? Who is the one responsible for the main branch and/or release branches?

Sorry if there is a document somewhere explaining all this - just point me to it please ;)

Thanks

[2015-03-27 17:30] forki commented on #1
in many other ProjectScaffold like projects we release basically everthing that's merged to master. The process is described at http://fsprojects.github.io/ProjectScaffold/release-process.html - but someone has to maintain the release-notes file and decide the version

[2015-03-27 17:41] dsyme commented on #1
Fork + pull requests.  In this case I self-committed to get us to the right baseline quickly

[2015-03-27 17:42] CarstenKoenig commented on #1
ok - thanks - cleaning up the tangling branch then

[2015-03-27 17:44] dsyme commented on #1
I think anyone with admin rights to both this repo and the nuget package can push releases of packages + docs ("build Release")

[2015-03-27 17:45] dsyme commented on #2
OK, this is all done now.

[2015-03-27 17:45] #2 closed

[2015-03-27 17:46] forki commented on #1
This is a good point. you should allow more people to push to https://www.nuget.org/packages/FSharp.Control.AsyncSeq ;-)

[2015-03-27 18:23] dsyme opened #6 "Target .NET 4.5 to use ExceptionDispatchInfo"
This library catches exceptions in various places and turns them into data, which loses stack traces.  We should probably switch to .NET 4.5 to be able to use the ExceptionDispatchInfo type which preserves stack traces https://msdn.microsoft.com/en-us/library/system.runtime.exceptionservices.exceptiondispatchinfo(v=vs.110).aspx

[2015-03-27 18:28] CarstenKoenig commented on #6
I can try this but probably there are quite some people out there that still are restricted to 4.0 because of older (server-)OS (?)

[2015-03-27 18:32] dsyme commented on #6
I think we can safely assume .NET 4.5 for work going ahead. FSharp.Core 4.4.0.0 assumes .NET 4.5.

Take a good look at https://visualfsharp.codeplex.com/SourceControl/network/forks/dsyme/cleanup/contribution/7550 if you want to give it a crack.

[2015-03-27 18:46] dsyme opened #7 "AsyncSeq.cache needs work"
The implementation of AsyncSeq.cache seems to create a chain of agents (a recursive call to cache).  At a first glance I don't think this is needed, or at least it is not going to be performant - surely we should write results into a shared concurrent data structure.

Indeed agents seemed over used in the implementation - combinators that use an appropriate shared memory concurrent data structure

[2015-03-27 19:13] dsyme opened #9 "AsyncSeq.toBlockingSeq doesn't cancel the task"
AsyncSeq.toBlockingSeq doesn't cancel the underlying task.

Also, it starts the task immediately in the application of the combinator.  This isn't right - the task should be started each time the sequence is iterated - we wouldn't expect the application of the combinator should have an immediate side-effect.

[2015-03-27 19:28] eulerfx opened #11 "AsyncSeq.scan behaves differently from Seq.scan (doesn't emit initial state)"
Not sure if it should, but issue shown in:
https://github.com/fsprojects/FSharp.Control.AsyncSeq/blob/e092247f4596567a9255669ad74680b52e0caf28/tests/FSharp.Control.AsyncSeq.Tests/AsyncSeqTests.fs#L152

[2015-03-27 21:14] dsyme commented on #11
Agreed these should be consistent. Can someone take this and submit a PR?

[2015-03-27 21:38] dsyme commented on #6
Basically, whenever you treat exceptions as data, you should use ExceptionDispatchInfo instead, e.g. change
``
        type internal ObservableUpdate<'T> =
            | Next of 'T
            | Error of exn
            | Completed
``
to
``
        type internal ObservableUpdate<'T> =
            | Next of 'T
            | Error of ExceptionDispatchInfo
            | Completed
``
If you do that sy

[2015-03-27 22:18] dsyme opened #15 "Resources, AsyncSeq, Try Finally and possible alternative definitions"
In general we expect sensible behaviour for sub-sequences of AsyncSeq objects (those returned by tail, skip etc.)

When I look at the definition of something like ``ofObservableUsingAgent `` I see an AsyncSeq which has internal resources - an agent - and, if you replayed the_tail_ of the sequence multiple times, or if you didn't iterate all the way through the sequence, then you'd get some odd beh

[2015-03-27 22:22] eulerfx commented on #11
I'll do it.

[2015-03-27 22:25] dsyme commented on #15
To be concrete, given the following:

    #r "../../../bin/FSharp.Control.AsyncSeq.dll"
    open FSharp.Control

    let printer() = printfn "allocate"; { new System.IDisposable with member __.Dispose() = printfn "disposed" }
    let a =
        asyncSeq { use _d = printer()
                   yield 1
                   yield 2 }

Then this prints "allocate" (without deallocate):

    a |> AsyncSe

[2015-03-27 22:32] eulerfx commented on #15
A type that can help address resource management is as follows (from [issue](https://github.com/fsprojects/FSharpx.Async/issues/19)  and [source code](https://github.com/eulerfx/FSharpx.Async/blob/asyncpipe/src/FSharpx.Async/AsyncPipe.fs)):

[code]

This is more generic than required by `AsyncSeq` alone, but one of the things it can ensure is deterministic resource disposal. The idea would be to h

[2015-03-28 18:12] eulerfx commented on #15
One way to adapt this more directly to `AsyncSeq` is to add an explicit compensation function:

[code]

which prints:

[code]

[2015-03-28 20:01] eulerfx commented on #11
Fixed with https://github.com/fsprojects/FSharp.Control.AsyncSeq/commit/8c6cebe52b59d00b4f87b31c6e47db1b32963a0e

[2015-03-28 20:01] #11 closed

[2015-03-28 20:03] eulerfx commented on #15
Although it seems the compensation needs to be on the outside of the `Async`, otherwise there is not way to run the compensation if the `Async` call fails.

[2015-03-29 09:31] VesaKarvonen commented on #15
Yeah... I've spent quite some time thinking about these issues.

In choice streams the streams are memoized for good reasons using [lazy promises](http://hopac.github.io/Hopac/Hopac.html#def:type%20Hopac.Stream.Stream).  I want choice streams to be consistent so that all consumers of a choice stream get the same sequence of results.  I also don't want any operations embedded in choice streams to b

[2015-03-29 10:06] haf opened #18 "Travis CI doesn't build"
https://travis-ci.org/fsprojects/AsyncSeq, it says `The repository at fsprojects/AsyncSeq was not found.`

[2015-03-29 13:58] dsyme commented on #18
See https://travis-ci.org/fsprojects/FSharp.Control.AsyncSeq (the repo has been renamed)

[2015-03-29 14:04] #18 closed

[2015-03-29 14:58] #9 closed

[2015-03-29 15:56] dsyme commented on #15
FWIW there is an old port of the (ugly) implementation of the "Seq" combinators from FSharp.Core to get an IAsyncEnumerable builder.  This supports "try/finally" correctly.

    https://github.com/dsyme/FSharpDemoScripts/blob/master/extlib/AsyncSeq-0.1.fsx#L7

My intuition is that we will have to move to IAsyncEnumerable if we are to support try/finally.  At least, I think I'd prefer an approach b

[2015-03-30 17:33] dsyme opened #20 "Mark AsyncSeq module as RequireQualiffiedAccess"
Mark this module as RequireQualiffiedAccess to give a warning if people open it.

People should instead open FSharp.Control

[2015-05-27 23:14] #15 closed

[2015-05-29 11:05] #20 closed

[2015-05-29 11:09] dsyme commented on #7
Fixed by #23

[2015-05-29 11:09] #7 closed

[2015-06-01 02:04] fsprojectsgit commented on #6
Implemented via https://github.com/fsprojects/FSharp.Control.AsyncSeq/pull/27

[2015-06-01 02:04] #6 closed

[2015-06-01 03:05] dsyme opened #28 "Project needs a new logo"
This project currently uses the unadorned FSSF Logo for F#.  It really needs a logo of its own more in line with other projects.

Suggestions?

[2015-06-01 03:28] tpetricek commented on #28
If it was push-based, I'd vote for:

![](http://www.easyvectors.com/assets/images/vectors/afbig/9abe777790f680d444544d8d78812b36-cannon-clip-art.jpg)

... but since this is pull-async-based, I have no idea!

[2015-06-01 05:17] dsyme commented on #28
:)

[2015-06-01 06:28] forki commented on #28
Cc @sergey-tihon

[2015-06-01 08:24] rhwy commented on #28
![fsharpasyncseq](https://cloud.githubusercontent.com/assets/212965/7908844/40fee8a0-0848-11e5-93a1-8d1fbff72028.png)

should something like that be good enough ?

[2015-06-01 08:26] forki commented on #28
wow that's like superman. I wonder if we reverse this for some F# super hero award ;-)

[2015-06-01 08:26] forki commented on #28
(read that as I like it very much)

[2015-06-01 08:30] rhwy commented on #28
that's because you're a super hero ;-)
if I PR a svg on this repo that's ok for you?

[2015-06-01 13:43] dsyme commented on #28
Works for me :)

[2015-06-03 17:40] dsyme commented on #28
closed via #29

[2015-06-03 17:40] #28 closed

[2015-06-04 08:26] xkrt opened #31 "Request new function"
Hi!

In my work I sometimes need a function that takes asyncs and perform them in parallel, but with simultaneously performed asyncs count lesser than count of overall asyncs passed to function, and return results of asyncs as AsyncSeq in order to consumer can process the results as soon as they appear.

Maybe my explanation confusing, I will try express it in the code:
[code]

Here is my attempt

[2015-06-04 11:08] dsyme commented on #31
How about AsyncSeq.mergeAll?

[2015-07-13 12:54] LessIsMore1 opened #32 "IAsyncEnumerator<Map<string,int>>' is not a valid enumerator type"
tables if of type: ``AsyncSeq<Map<string,int>>``

A simple bind
  let x = tables |> AsyncSeq.take 200
gets the following error

The type ``IAsyncEnumerator<Map<string,int>>`` is not a valid enumerator type , i.e. does not have a  'MoveNext()' method returning a bool, and a 'Current' property

[2015-08-19 20:03] ovidiudeac opened #33 "AsyncSeq.cache fails with SynchronizationLockException"
The exception SynchronizationLockException is thrown when using AsyncSeq.cache

Build info:
- .NET45.
- FSharp.ControlAsyncSeq v2.0.1
- FSharp.Core 4.3.0.0

Please note that the issue reproduces with v2.0.0 but it doesn't reproduce with v1.15.0

Exception details:
[code]
This question was also raised on [stack overflow](http://stackoverflow.com/questions/32094543/synchronizationlockexception-in-as

[2015-09-04 12:27] buybackoff commented on #33
I played with this a little. The `SynchronizationLockException` could be fixed easily by changing the `Monitor` to `ManualResetEventSlim` or `SemaphoreSlim(`1,1`). Now the monitor is exited from a different thread and such exception is documented on the `Monitor` MSDN page.  The build-in test for `cache` passes with the changes and the exception goes away in the example, but the example then hangs

[2015-09-04 16:08] eulerfx commented on #33
Thanks, created a failing test for this:

[code]

It fails when the `Async.Sleep` is used after `yield`.

One more thing to consider is the waiting strategy. While `ManualResetEventSlim` works, just like `Monitor` it involves blocking a thread during wait. `ManualResetEventSlim` has a lazy reference to a `WaitHandle` which can be used to wait in a non-blocking way, but referencing that defeats the

[2015-09-04 16:25] buybackoff commented on #33
SemaphoreSlim has async wait method, with 1,1 it is effectively MRE
On Sep 4, 2015 7:08 PM, "Lev Gorodinski" <notifications@github.com> wrote:

[2015-09-04 16:44] buybackoff commented on #33
Async.Await... any non F# things is usually slow. We could get TaskAwaiter
from Semaphore.WaitAsync and move the current Try/Finally logic inside
OnCompletion action. With this, we will also avoid the expensive
Try/Finally of AsyncSeq altogether. Writing from mobile, could not post
code now, but I used this pattern recently and performance is the fastest
one could get from any async machinery in .

[2015-09-04 16:50] eulerfx commented on #33
I've seen `Semaphore.WaitAsync` have similar overhead to just waiting via `WaitHandle`. In some cases, simply doing a `Semaphore.Wait` is faster.

Not quite sure what you mean by getting rid of the try/finally - do you have an example of what you have in mind?

[2015-09-04 16:57] buybackoff commented on #33
Will post later
On Sep 4, 2015 7:50 PM, "Lev Gorodinski" <notifications@github.com> wrote:

[2015-09-04 17:47] eulerfx commented on #32
@LessIsMore1 I can't reproduce this, would you provide more code and a description of the environment under which you got the error?

[2015-09-04 18:21] eulerfx commented on #31
The following should work, but isn't ideal:

[code]

This will run up to `parallelism` computation in parallel, and will start emitting results as soon as they are available. One problem here is that the consumer of the `AsyncSeq` has no control of the consumption of the source sequence. Ideally, we would have something that allowed the consumer of the resulting `AsyncSeq` trigger the next batch t

[2015-09-05 12:09] buybackoff commented on #33
The idea was to use this pattern:
[code]
Here try/finally becomes an F# language construct instead of AsynSeq builder method. But it doesn't work now because `let! move = ie.MoveNext()` cannot be called inside OnCompleted. Even if it worked, AsynSeq is built around `async` and we would have to cross the TPL/async boundary later. Recently I worked with an API that is build on TPL Tasks (basically i

[2015-09-22 07:10] MikeBild commented on #3
any workarounds? thx

[2015-09-28 10:43] dsyme commented on #3
Since this is just building the docs, the best workaround is to edit build.fsx to skip that step on OSX/Linux.

[2015-10-15 06:18] daniel-chambers opened #35 "Memory leak when unfolding"
We're currently trying to use AsyncSeq with an unfold that does repeated HTTP requests that get paged data; each unfold step produces a page of data until we run out of pages, in which case the sequence completes. It looks like AsyncSeq has a memory leak, because we expected that we'd be able to async-enumerate over this sequence consuming and discarding each page of data without constantly increa

[2015-10-15 12:28] daniel-chambers commented on #35
I've done a bunch more poking around in the profiler, and I think I've discovered the point where the whole recursively appended sequence of `AsyncSeq`s is being held in memory.

The profiling screenshot above shows outgoing references, so further inward-indented items are data from _later_ in the sequence. Earlier items in the sequence referencing later items seems okay conceptually, but that mea

[2015-10-15 13:52] eulerfx commented on #35
I tried running the code using the old "algebraic" version and it doesn't have the issue. I'll take a look.

[2015-10-15 13:57] eulerfx commented on #35
The following is sufficient to show the problem:

[code]

[2015-10-15 21:11] dsyme commented on #35
It looks like the iterator for an AsyncSeq.append will hold on to the first sequence even after the state machine has moved on to the second sequence.  Specifically the closure of [this object](https://github.com/fsprojects/FSharp.Control.AsyncSeq/blob/master/src/FSharp.Control.AsyncSeq/AsyncSeq.fs#L117) will include ``inp1``.

(That may or may not be the problem, or may be one problem of many :))

[2015-10-15 22:15] dsyme commented on #35
#36 fixes the problem

[2015-10-15 22:35] dsyme commented on #35
https://www.nuget.org/packages/FSharp.Control.AsyncSeq/

[2015-10-15 22:40] #35 closed

[2015-10-16 06:09] daniel-chambers commented on #35
Awesome. Thanks for the fast fix!

I can confirm that this resolves our large memory leak problem and we're back in action. :)

[2015-12-03 15:06] mexx opened #38 "Presence of return is misleading"
Given the following expression `asyncSeq { return [1] }`.
I would expect the type of it to be `AsyncSeq<int>`, unfortunately it is `AsyncSeq<'a>`.

I understand that in first place it's my wrong expectation about the `result`'s presence, actually as it's a sequential workflow, it shouldn't be there at all.
By looking at the source code I know that the presence of `return` is caused by the wish to

[2015-12-03 16:57] dsyme commented on #38
Yes, IIRC this is an F# language limitation where it is problematic to express that a method takes a single parameter of type ``unit``, rather than no parameters. It's almost never needed but the computation expression translation uses both ``foo.Return(())`` and ``foo.Return()`` so we need a method that can accept either. If you can find an alternative workaround it would be much appreciated.

[2015-12-03 17:15] eulerfx commented on #33
@dsyme I think this issue can be closed re PR #34, however might be worth having a separate discussion wrt waiting as noted: https://github.com/fsprojects/FSharp.Control.AsyncSeq/issues/33#issuecomment-137778655

This is more related to Async than AsyncSeq though.

[2015-12-03 17:51] dsyme commented on #33
OK, yes, let's close this and add a new issue re perf if needed

[2015-12-03 17:51] #33 closed

[2015-12-04 09:15] #32 closed

[2015-12-05 21:24] mexx commented on #38
@dsyme I've tried a patched version of compiler and could successfully remove the `Return` method from the builder.

As stated in the initial comment, the call `Zero()` instead of the `Return()` allows constructs like
[code]
to be processed without the need for `Return` method.

Should I create a PR with the compiler change in [visualfsharp](https://github.com/Microsoft/visualfsharp) for further d

[2015-12-06 10:44] dsyme commented on #38
Hi @maxx

We wouldn't change Return to Zero - that would be a breaking change. We might however remove the limitation that Return gets called with both ``()`` (zero) and ``(())`` (one) arguments, which if IIRC is the cause of the problem.

[2015-12-06 13:15] mexx commented on #38
I think my concern is not clear. In the current `asyncSeq` one can use `return whatever` and the value of `whatever` expression is not processed any further by the `asyncSeq`. Furthermore the `asyncSeq { return [1] }` is an empty sequence. This is not intuitive and do not correspond to the behavior of other computation expressions. So IMHO the root cause is the presence of `return`.

Don, you are

[2015-12-06 17:18] mexx commented on #38
@dsyme I've updated my patch to fallback to `Zero` if `Return` is not present, you can find it [here](https://github.com/mexx/visualfsharp/tree/zero-for-return-unit).

[2015-12-07 11:48] dsyme commented on #38
That change looks good. Please add an fslang.uservoice.com entry for it - I'll mark it as approved for some future release - and submit the PR to Microsoft/visualfsharp.

It will take a long while before libraries like AsyncSeq can rely on this language change though, since it basically currently targets FSharp.Core 4.3.0.0 and supports use by F# 3.0+

[2015-12-07 23:11] mexx commented on #38
[UserVoice](https://fslang.uservoice.com/forums/245727-f-language/suggestions/10999326-interpret-do-action-as-let-action-in-zer) and [PR](Microsoft/visualfsharp#773)

[2015-12-09 22:51] mexx commented on #38
@dsyme
While implementing the tests for the PR on visualfsharp repo, I could define the implementation for `return` as `Return (()) = empty` which will be picked correctly for the `unit` parameter, and therefore allow only `unit` valued expressions to be used with `return` keyword. It doesn't work when you define `Return() = empty`. Is it intended to work this way?

It's very weird, actually the d

[2016-01-09 10:59] jlewicki opened #44 "v2.0.4 on Nuget.org?"
I see that there is a 2.0.4 release on GitHub, but 2.0.4 is not listed here: https://www.nuget.org/packages/FSharp.Control.AsyncSeq

I'd like to take advantage of the Profile7 PCL support. Any ETA on when we may see 2.0.4 on nuget?

[2016-01-13 16:43] eulerfx commented on #44
Hey @forki or @dsyme I don't seem to have permissions to release. When doing `build Release` I see the following error:

```remote: Permission to fsprojects/FSharp.Control.AsyncSeq.git denied to eulerfx.```

[2016-01-13 22:48] dsyme commented on #44
@eulerfx Should now be fixed

[2016-03-28 16:18] jlewicki commented on #44
Hello again,

As far as I can tell v2.0.4 still has not been published to nuget? Any chance that could be done soon?

It would be delightful if it was available there so I could reference it from a PCL library.

-John

[2016-03-28 17:25] eulerfx commented on #44
@jlewicki apologies for the delay. I did try pushing the package, but not luck even after permissions were updated. Let me give it another shot.

[2016-03-28 17:28] forki commented on #44
Let me know. I can try to change permissions if needed
On Mar 28, 2016 7:25 PM, "Lev Gorodinski" <notifications@github.com> wrote:

[2016-03-28 17:39] eulerfx commented on #44
@forki: Maybe i was doing the wrong thing? What are the steps to publish a nuget package? I was doing `fake PublishNuget` and got the following output:

[code]

[2016-03-28 17:41] forki commented on #44
IIRC we projectscaffolded the project.
Create a release.cmd as described in
http://fsprojects.github.io/ProjectScaffold/release-process.html
On Mar 28, 2016 7:39 PM, "Lev Gorodinski" <notifications@github.com> wrote:

[2016-03-28 18:57] eulerfx commented on #44
@forki Thanks, I just did that and it is now errors with the following:

[code]

[2016-03-28 19:17] eulerfx commented on #44
I think this may have been caused by a previous failure to release. I bumped it to v2.0.5 and it seemed to have succeeded. Waiting for nuget to update..

[2016-03-29 13:09] eulerfx commented on #44
@forki: it looks like it didn't publish still. I see a release created back in January 13th (https://github.com/fsprojects/FSharp.Control.AsyncSeq/releases) for v2.0.5 which might have been me attempting to release this back then. But still nothing on nuget. I created the release.cmd file as described in the link you sent and ran it successfully. Should I try bumping the version to v2.0.6?

[2016-03-29 13:23] forki commented on #44
looks like you didn't commit the version no. bump in the release notes!?
but you are right - it doesn't publish to nuget. Will investigate

[2016-03-29 13:28] forki commented on #44
![image](https://cloud.githubusercontent.com/assets/57396/14109525/be43cb42-f5c2-11e5-8d03-6e5915b667ff.png)

Ok found it. Now the fails for me. Which is correct since I don't have publish rights for this project on nuget. Please pull latest master and run your release.cmd

[2016-03-29 14:02] eulerfx commented on #44
Alright I was able to release.cmd with v2.0.7. Let's see if this pushes it to nuget:

[code]

[2016-03-29 14:06] forki commented on #44
Mhm doesn't look like it. It seems it doesn't create the packages. Do you see the package in the temp folder?

[2016-03-29 14:09] eulerfx commented on #44
My mistake, I didn't actually merge after fetching upstream. v2.0.8 there now. Thanks a lot!

[2016-03-29 14:11] forki commented on #44
Puhh. Cool. Case closed
On Mar 29, 2016 4:09 PM, "Lev Gorodinski" <notifications@github.com> wrote:

[2016-03-29 14:12] eulerfx commented on #44
@jlewicki give v2.0.8 a try now.

[2016-03-29 14:22] jlewicki commented on #44
Success!
Thank you gentlemen.

[2016-04-01 01:47] #44 closed

[2016-04-11 16:12] eulerfx commented on #31
Hey @xkrt, following up on this and seeing if your request can be addressed. There is a new function in master (not yet released): `val mapAsyncParallel : f:('a -> Async<'b>) -> s:AsyncSeq<'a> -> AsyncSeq<'b>`. It is like the existing `mapAsync` however it doesn't wait for a mapping operation to complete before starting the next. The results are placed into a FIFO queue, such that the results are

[2016-04-11 16:15] eulerfx commented on #38
@mexx following up on this, is there still some action to take on this library or has focused shifted elsewhere?

[2016-04-13 07:31] mexx commented on #38
The next version of F# compiler will allow to use `Zero` without the need to provide `Return`.
With this version this library could get rid of the `Return` method on the builder. However this would be a breaking change for users of the library.

[2016-05-02 16:26] vasily-kirichenko opened #50 "AsyncSeq.append called enormous number of times"
The following code is running for about 4 seconds, which is extremely slow:
[code]
The output is `result = 10273, 00:00:04.2336427, number of actully read line: 3000`

I profiled it and `AsyncSeq.append` was called about 13 million times (!):

![image](https://cloud.githubusercontent.com/assets/873919/14960001/20454c9c-109b-11e6-8621-df2402431129.png)

[2016-05-02 17:37] eulerfx commented on #50
FYI looking at this in a branch: https://github.com/eulerfx/FSharp.Control.AsyncSeq/tree/perf

will keep posted.

[2016-05-02 18:12] vasily-kirichenko commented on #50
I've tested on your branch, same results.

[2016-05-02 18:21] eulerfx commented on #50
I should've been more clear - I haven't actually wired the optimizations to their proper place yet.

[2016-05-08 19:26] eulerfx commented on #50
@vasily-kirichenko try the branch now

[2016-05-09 09:10] vasily-kirichenko commented on #50
Thanks, the bug has gone! I rerun the benchmark and modified the blog post accordingly, see https://vaskir.blogspot.ru/2016/05/akkanet-streams-vs-hopac.html. In short, AsyncSeq is still slower than both Hopac and Akka.NET.

[2016-05-09 09:10] #50 closed

[2016-05-09 09:39] dsyme commented on #50
@vasily-kirichenko @eulerfx  Thanks for iterating on this.  It's an interesting benchmark and I think your comments seem pretty fair @vasily-kirichenko, at least as things stand today - I like the AsyncSeq model for its "naturalness" but you really have to profile if your perf is dominated by concurrency overheads.

Hopefully benchmarks like this will drive further iterations of improvements in al

[2016-07-11 10:22] endeavour opened #52 "Memory leak in AsyncSeq.bufferByCountAndTime"
Leave this running for a few minutes and you'll get an OutOfMemoryException.

    open FSharp.Control

    [<EntryPoint>]
    let main argv =

      let rec nums () =
        asyncSeq {
        yield Array.zeroCreate 100000
        yield! nums ()
        }

      let numbers = nums ()

      let buffered = numbers |> AsyncSeq.bufferByCountAndTime 1000 (int 10) |> AsyncSeq.toObservable

      buffe

[2016-07-11 21:56] eulerfx commented on #52
Hey, thanks for posting the issue. This is likely caused by a perf issue with the internal implementation of the append operation. I need to merge the perf fixes made in (https://github.com/eulerfx/FSharp.Control.AsyncSeq/tree/perf) to correct this.

[2016-07-12 11:02] endeavour commented on #52
Ok thanks! Any update on when those changes will be merged?

[2016-07-13 16:26] eulerfx commented on #52
I should just merge it, nearly as is. I got caught up in optimizing it even more, but its much better in than master anyway. I'll see if I can work on it over the next week.

[2016-07-18 00:00] eulerfx commented on #52
I made a [PR](https://github.com/fsprojects/FSharp.Control.AsyncSeq/pull/53) in which I wasn't able to reproduce the issue, hopefully it solves it.

[2016-07-25 08:08] forki opened #54 "Reference on FSharp.Control.AsyncSeq in paket.dependencies"
why is this project depending on itself?

[2016-07-25 12:53] eulerfx commented on #54
It may have been added to test perf against an older version. I'll remove.

[2016-07-28 01:24] #54 closed

[2016-07-28 02:19] eulerfx commented on #52
https://www.nuget.org/packages/FSharp.Control.AsyncSeq/2.0.9

[2016-07-28 02:19] #52 closed

[2016-11-01 17:54] pragmatrix opened #57 "Unexpected iteration performance drop when recursive loops are used."
### Description

The problem appears when a recursive asyncSeq loop yields a number of elements and at least one async bind is inside the loop.

### Repro steps

The performance drop can reproduced by the following test case:

[code]
The function `generate` above yields `cnt` numberd (all '1's), and it produces the following output on my machine:

[code]

### Expected behavior

The time it takes t

[2016-11-01 18:09] eulerfx commented on #57
Thanks, I'll take a deeper look. There are some inefficiencies in the way AsyncSeq is generated via computation syntax. Meanwhile, if you express your generator as follows:

[code]

You should get much better performance.

[2016-11-06 10:29] pragmatrix commented on #57
I've changed `bindAsync` to use generators in https://github.com/pragmatrix/FSharp.Control.AsyncSeq/commit/8e449786794dd8c5a2fd3097bac72fc4fb707b7f. This keeps the performance linear but may introduce a slight overall slowdown because of the additional allocations.

@eulerfx Does this align with your intentions to optimize AsyncSeq in computation expressions? If yes, I'd like to add a test case an

[2016-11-06 13:34] eulerfx commented on #57
Hey, that's looking good! One thing to look for is that the input sequence gets disposed as needed - the code above won't, but it should be possible to validate with a unit test.

[2016-11-06 14:58] pragmatrix commented on #57
I'm not sure that it has to. As long bind is waiting for the async to return, there is no sequence to dispose, and immediately after that, the `Goto` ensures that `AsyncEnumeratorGenerator` picks up the followup sequence's `Dispose()`.

What can be unit-tested is that finally handlers are called as expected: https://github.com/pragmatrix/FSharp.Control.AsyncSeq/commit/2394a0407c830adca0cac5d57ec38

[2016-11-06 15:01] eulerfx commented on #57
We don't have anything very structured for tracking performance improvements. I've just been putting some code and notes in `tests/FSharp.Control.AsyncSeq.Tests/AsyncSeqPerf.fsx` so could be a place to start.

[2016-11-25 13:37] eulerfx commented on #57
@pragmatrix I merged your changes in. Apologies, I wasn't sure how to pull them from your branch, so I copied them. Also started a generator for the collect operation. Didn't expose it yet, because I haven't seen it improve performance, but it should for other operations.

[2016-11-25 13:37] #57 closed

[2016-11-25 14:08] pragmatrix commented on #57
@eulerfx Thanks, no worries, quite the opposite.

[2017-03-04 17:46] quant1729 opened #60 "Question on caching"
Hello,

Thank you for such a great library. I have a question about sequence caching. I want to have one sequence generator function, that then mapped into two different data streams (independent), and then zipped at some point. I have the following sample code:

`let oneTwo = asyncSeq {
        do! Async.Sleep(1000)
        yield 1
        do! Async.Sleep(1000)
        yield 2 }

    let cached =

[2017-03-04 20:11] eulerfx commented on #60
Looks like a bug with AsyncSeq.cache. Thanks for reporting. This seems to be caused by how the internal counter is incremented. Also, another problem is that the cached sequence can't be iterated by to concurrent threads. Will update once fixed.

[2017-03-04 20:25] quant1729 commented on #60
Thank you. Caching is really cool feature of the library.

[2017-03-04 21:32] eulerfx commented on #60
https://www.nuget.org/packages/FSharp.Control.AsyncSeq/2.0.11 should fix it

[2017-03-04 21:32] #60 closed

[2017-03-04 21:36] quant1729 commented on #60
Thank you. Will test it.

[2017-03-08 19:48] quant1729 opened #62 "Simple aggregation"
Hello Lev,

I was trying to perform some simple aggregation using AsyncSeq, and seems like I am facing an issue. My code first:

`    let inputStream = asyncSeq {
        do! Async.Sleep(1000)
        yield 1
        do! Async.Sleep(1000)
        yield 2
        do! Async.Sleep(1000)
        yield 3
        do! Async.Sleep(1000)
        yield 4
        do! Async.Sleep(1000)
        yield 5
    }

[2017-03-09 12:30] eulerfx commented on #62
Try this:

[code]

The sequence of sequences returned by `groupBy` must be iterated in parallel. If you iterate sequentially, the first sub-sequence will never complete because other haven't been consumed, and therefore the input sequence is still unconsumed, therefore we don't know whether more items can arrive into this sub-sequence.

[2017-03-09 17:52] quant1729 commented on #62
I see. Thank you for clarification. Interesting moment.

Wanted to ask you what do you think would be the best way to model price series aggregation with 1 minute data aggregating into 1 day using your library? With updates every minute. Also having intermediate(unfinished) bars.  Couldn't find any similar ideas in the published examples,

[2017-03-15 13:02] eulerfx commented on #62
Maybe you need a windowing function? I haven't put one into this library yet, but had a need in a projected dependent on this, so I added it on top. Take a look [here](https://github.com/jet/kafunk/blob/master/src/kafunk/Utility/AsyncSeq.fs#L118).

[2017-04-06 16:04] denskh opened #63 "choose does not work for async seq generated using AsyncSeq.unfold"
### Description
When async seq is generated using AsyncSeq.unfold method choose only returns elements until first exclusion (None).

### Repro steps

let chooser x = if x % 3 = 0 then None else Some x
let inputLst = [ 1 .. 9 ]
let expected = inputLst |> Seq.choose chooser |> Seq.toList
// expected is [1; 2; 4; 5; 7; 8]
let inputASeq = AsyncSeq.unfold (fun i -> if i <= 9 then Some (i,i+1) else None

[2017-04-06 18:03] eulerfx commented on #63
This looks like a bug. Thanks! Will work on a fix.

[2017-04-06 18:25] #63 closed

[2017-04-06 18:27] eulerfx commented on #63
Fixed in https://www.nuget.org/packages/FSharp.Control.AsyncSeq/2.0.12

[2017-04-06 19:02] denskh commented on #63
Works, thanks for a quick fix!

[2017-04-20 12:36] vaspas opened #65 "BufferByCountAndTime impact to Async.StartWithContinuations"
### Description
Async.StartWithContinuations call is blocked when using AsyncSeq.BufferByCountAndTime in async operation.

### Repro steps
let op =
        asyncSeq{
            while true do
                do! Async.Sleep 1000
                yield 0
        }
        |> AsyncSeq.bufferByCountAndTime 10 1000
        |> AsyncSeq.iter (printf "%A ")

let cts = new System.Threading.CancellationToke

[2017-04-20 12:37] eulerfx commented on #65
Hi thanks for reporting, I'll take a look. I think it's the blocking call
to Task.Wait that causes this.
On Thu, Apr 20, 2017 at 8:36 AM vaspas <notifications@github.com> wrote:

[2017-05-01 22:42] ShaneGH opened #66 "Any chance of a Nuget package for .Net Core?"
I know I can just use the source, but using a package is more convenient.

Thanks in advance, this is a very useful lib!

[2017-05-01 22:44] eulerfx commented on #66
I'll take a look at .NET core support.
On Mon, May 1, 2017 at 6:42 PM ShaneGH <notifications@github.com> wrote:

[2017-05-03 15:39] dsyme commented on #66
@eulerfx I think we can just make this a .NET Standard 1.6 library?  Just one edition, no extra Profile DLL?

The existing Profile7 lib may also be already usable as a .NET Standard 1.6 library, I'm not sure

// cc @enricosada

[2017-05-03 17:31] eulerfx commented on #66
@dsyme: Ok, I'll take a look at that. To be honest, I'm quite unfamiliar with .NET Standard/.NET Core stuff, so will ask for some help.

[2017-05-03 18:25] sergey-tihon commented on #66
@eulerfx If you need reference - I compile [FsUnit](https://github.com/sergey-tihon/FsUnit/blob/master/src/FsUnit.NUnit/FsUnit.NUnit.netstandard.fsproj) for nestandard16 and then package using netcore and merge packages ([build script](https://github.com/sergey-tihon/FsUnit/blob/master/build.fsx#L336-L360)).
I guess that we still need to maintain `lib/net40` folder in package with dlls because old

[2017-05-15 13:30] eulerfx commented on #66
@sergey-tihon: thanks for the tip! I started making these changes on my branch.

- What other steps are required to publish a .NET standard targeted package in addition to the existing one?
- "because old IDEs/VS does not understand net standard" - does this mean that the only way I can build the new .fsproj file is via command line? Or can I used VS2017?

Thanks!

[2017-05-15 14:54] sergey-tihon commented on #66
No, just put assemblies for netstandard into `lib/netstandard1.6/` folder (in the same package).

This means that you still need to put assemblies compiler for full framework into `lib/net45/*` folder.

I did it manually using VS Code, VS2017 do not support it new proj format.

[2017-05-15 16:00] eulerfx commented on #66
- Do I do this manually, or via fake/paket?
- Do I need to modify `paket.template` to account for this?

[2017-05-15 17:03] sergey-tihon commented on #66
It may be already possible (with latest beta of paket and new paket.template file, one per fsproj) but I did

- `dotnet pack` that calculate dependencies based on NuGet package https://github.com/fsprojects/FsUnit/blob/master/build.fsx#L350-L351
- `mergenupkg ` tool (from Enrico) to merge 2 packages into 1 https://github.com/fsprojects/FsUnit/blob/master/build.fsx#L359

[2017-09-25 19:30] Alxandr commented on #66
Any updates on this?

[2017-09-25 19:33] eulerfx commented on #66
hey @Alxandr no updates. I gave this a shot earlier, but got stuck and gave up. I will have another go at his however as we've an interest to start porting things to .NET Core as soon as possible.

[2017-09-25 19:38] Alxandr commented on #66
I just "ported" this to .NET Standard 2.0 in less than 10 minutes (it compiles, no tests or similar). It should not be hard to do :)

[2017-09-25 19:39] eulerfx commented on #66
Nice! Can you share how you did it?

[2017-09-25 19:41] Alxandr commented on #66
Created new folder, ran `dotnet new classlib --language F#`, pasted the 2 source files, ran `dotnet build`.

[2017-09-25 19:43] eulerfx commented on #66
How can I target both .NET core *and* the existing .NET framework?

[2017-09-25 19:44] Alxandr commented on #66
With netstandard. Or multitarget.

This is the entire msbuild file:

[code]

If you change `<TargetFramework>netstandard2.0</TargetFramework>` to `<TargetFrameworks>netstandard2.0;net461</TargetFrameworks>` you should get both in one nuget package just like that (in theory at least).

[2017-09-25 19:46] Alxandr commented on #66
Also, netstandard != netcore. netstandard runs on netcore, full net framework, and xamarin.

[2017-09-25 20:01] Alxandr commented on #66
I tried running the tests, but I got a `System.NullReferenceException`. That's unfortunately as far as I can go on my mac.

[2017-09-25 20:06] Alxandr commented on #66
This is actually somewhat suspicious, cause all of the stactrace seems to be framework code:

[code]

[2017-09-25 20:33] eulerfx commented on #66
Hmm any idea which test this was? All of them?

[2017-09-25 20:46] Alxandr commented on #66
My guess it it's outside of tests. Probably some static constructor or similar. Full output:

[code]

[2017-09-25 20:47] eulerfx commented on #66
Are you able to run the code directly, outside of a test, but perhaps with a script file?

[2017-09-25 20:47] Alxandr commented on #66
I don't know how to run scripts files using netcore :P

[2017-09-25 20:47] Alxandr commented on #66
I can make a main though?

[2017-09-25 20:48] eulerfx commented on #66
Ah I guess we don't have an fsi in netcore? Main would work I suppose.

[2017-09-25 20:49] Alxandr commented on #66
What should I run though? One by one test?

[2017-09-25 20:50] eulerfx commented on #66
I was thinking any of them, just to see if it works.

[2017-09-25 20:52] Alxandr commented on #66
Well, it does say that 9 tests passed, so I would guess so? I'll do some quick testing.

[2017-09-25 21:06] Alxandr commented on #66
Hmm. Weird. All tests passing when I don't run using `NUnit`.

[code]

[2017-09-25 21:07] eulerfx commented on #66
Hmm, must be an NUnit thing? Thx for doing this btw!

[2017-09-25 21:10] Alxandr commented on #66
I don't know. The stack trace didn't seem very NUnit-y. It seemed more F#-y. If we're really unlucky, it's F# IL emit bug where NUnit triggers it using some reflection.

[2017-09-25 21:24] Alxandr commented on #66
@dsyme have you seen anything similar before? Also note that NUnit only discovered 109 of the 110 tests.

[2017-09-26 18:00] eulerfx commented on #65
Hey, following up on this. It looks like the issue is the `printf` inside `iter`. This causes blocking even without `bufferByTimeAndCount`. If you instead call `printfn` then it works. If `printfn` is expanded it looks like this:

[code]

and `printf` is the same except the call to `Console.Out.WriteLine()`. So somehow, that calls unblocks the thread. If you instead call iterAsync and prepend with

[2017-09-27 19:00] vaspas commented on #65
Hello.

I have added waiting in example above.
Async.StartWithContinuations is returned then AsyncSeq.bufferByCountAndTime is excluded from pipeline.

[2017-09-27 19:09] eulerfx commented on #65
To clarify my comment, things work as expected if you use `printfn` rather than `printf`..

[2017-09-29 13:32] Alxandr commented on #66
@eulerfx how do you feel about xunit? I might take a stab at porting the entire thing again. I need this for another project. Else I'll just use the source and have my own internal types...

[2017-09-29 14:24] eulerfx commented on #66
Regarding xunit vs nunit, I don't care - whatever works. I've switched between the two a few times before just go get this working in VS. It seems every time I come back to it, they flip between working and not working.

[2017-10-02 20:31] Alxandr commented on #66
I converted to xunit, only to get the exact same error... I'm really starting to think there might be some F# compiler/reflection bogusness here...

[2017-10-17 07:43] Alxandr commented on #66
Ah. I have all tests passing! All I needed was an entrypoint -.-

That being said, I have all of the tests passing against `netstandard2.0` library :tada:
And if we ignore the snafu with testing, it took less than 15 minutes to do. So getting this out for netstandard should be easy to do :)

[2017-11-14 07:55] Szer opened #74 "Parallel sequence runs consequentially (non-parallel)"
### Description

I've tried to implement some of my work with asyncSeq.
I have a big job list which I want to process in parallel with some throttling (32 threads maximum for example) and then feed results as stream to other async tasks (saving to disk etc).
Async.Parallel is not good for me because it doesn't have max thread setting
I've also tried slicing job list myself but it was very memory i

[2017-11-14 13:56] eulerfx commented on #74
Thx for reporting, will take a look.

[2017-11-21 15:44] #65 closed

[2017-11-21 20:43] eulerfx commented on #74
If you structure the workflow like this, the `handle` function will execute in parallel:

[code]

Otherwise, the execution across groups is in parallel, but the groups are themselves generated sequentially.

[2017-11-22 11:42] Szer commented on #74
I see. So it is not a bug, it is intended :)

[2017-11-22 13:19] eulerfx commented on #74
Yes, it is intended. AsyncSeq is by default "sequential" and any parallelism imposed via an operation applies to the previous sequence only. So for example, in your workflow, the mapAsyncParallel parallelizes across the groups created by groupBy, but the groups themselves are iterated sequentially, as is the upstream sequence. In other words, the parallelism does not propagate all the way upstream

[2017-11-22 14:23] Szer commented on #74
There is one operation which I lack:
`**map**AsyncParallelThrottled`

Right now there is only:
`iterAsyncParallelThrottled`

[2018-04-06 10:06] ovatsus opened #85 "Reference documentation page is empty"
http://fsprojects.github.io/FSharp.Control.AsyncSeq/reference/index.html

[2018-04-06 10:10] ovatsus commented on #66
The 2.0.21 version already has .net core support, right?

[2018-04-10 12:16] eulerfx commented on #66
@ovatsus that's correct! closing.

[2018-04-10 12:16] #66 closed

[2018-04-10 12:17] eulerfx commented on #85
Thanks, I'll take a look.

[2018-07-09 20:29] vchekan opened #89 "AsyncSeq.groupBy produces sequence which behaves like "cold" even if source is "hot""
### Description

I use AsyncSeq.groupBy and inside the group, when group is created, I get first message of sequence (`AsyncSeq.tryFirst`)to initialize business logic ( I am merging 2 kafka streams and offsets for stream2 are in stream1). Surprisingly, when I get first message and continue, I am getting "first" message again. In the code below, it fails in groupBy test with message
[code]

### Rep

[2018-07-09 20:44] eulerfx commented on #89
This is a consequence of the way groupBy is implemented - it uses a TaskCompletionSource as an Async ref, and of course Task is idempotent/monotonic causing the grouped sequences to be effectively cached.

[2018-07-10 13:09] #89 closed

[2018-08-27 14:50] enricosada opened #92 "the `return` of `asyncSeq` builder is non intuitive"
The `return` of the `asyncSeq` computation ignore the value passed.
I found it bug prone when upgrading a library from asyncseq v1 to v2 types.

[code]

- no errors
- the `a` is `AsyncSeq<int>`
- as list, it's `[1; 2]`
- the `3` is ignored, no warning, no errors

Same when trying to return another `asyncSeq` like

[code]

i think that should be `return! a` to work correctly (not yet supported)

##

[2018-08-27 17:59] eulerfx commented on #92
Related: https://github.com/fsprojects/FSharp.Control.AsyncSeq/issues/38

[2018-08-28 08:11] enricosada commented on #92
@eulerfx I missed that. Closing this because is a duplicate.

Continuing discussion in other thread

[2018-08-28 08:11] #92 closed

[2018-08-28 08:45] enricosada commented on #38
I'll try do an updated summary because i got same issue ( #92 ), it's really error prone :D more so migrating from v1 to v2

So the compiler feature from @mexx was released in F# 4.1

![image](https://user-images.githubusercontent.com/147243/44709908-1861eb00-aaab-11e8-80c5-6a6be76176aa.png)

NOTE

- the `FSharp.Core` version doesnt matter (it's ok we continue to target >= v3), it matter just the

[2018-12-04 17:34] deneuxj opened #95 "Lack of parallelism in AsyncSeq.cache"
### Description

I noticed that when multiple consumers use a cached AsyncSeq, the late ones delay reading cached items until the lead consumer receives a new item.

### Repro steps

See the change to AsyncSeqTests.fs at
https://github.com/fsprojects/FSharp.Control.AsyncSeq/pull/94/files

### Expected behavior

Second consumer should take close to no time to read all 5 cached items

### Actual beh

[2018-12-04 17:58] baronfel opened #96 "Integrate with IAsyncEnumerable<'t>"
### Description

This library should offer integration points with [IAsyncEnumerable](https://msdn.microsoft.com/en-us/library/mt793980(v=vs.150).aspx?cs-save-lang=1&cs-lang=fsharp), to paper over the task->async translations in one place.

That might look like a binding API like `AsyncSeq.ofAsyncEnumerable`, `AsyncSeq.toAsyncEnumerable`, extra computation builder overloads for the type, etc.

[2018-12-05 14:28] edud69 opened #97 "StrongNaming for nuget package"
### Description

The latest nuget package (v2.0.21) contains the FSharp.Control.AsyncSeq.dll which is not strongly named. Having a project that is strongly named that depends on this library will fail, except if a third party (such as StrongNamer) is used.

### Repro steps
Create a project that is signed, have this project depend on this library.
Execute the project. It will fail runtime.

### Exp

[2018-12-29 02:17] blumu opened #98 "toList and toArray should not call Async.RunSynchronously"
Calling `Async.RunSynchronously` in libraries is error-prone and can cause dead-locks. (e.g. when running on the main interactive thread.) I would just remove the two functions `toList` and `toArray` altogether to prevent library users from hitting hard-to-debug issues.

https://github.com/fsprojects/FSharp.Control.AsyncSeq/blob/9b608ff44e1d0c63c83a7de20e5e73a2f08660c2/src/FSharp.Control.AsyncSeq/

[2018-12-29 08:18] blumu opened #99 "Proposing AsyncSeq.ofSeqAsync and AsyncSeq.concat"
## Description
Would the maintainers consider including the following two helpers:

- We already have `AsyncSeq.init` and `AsyncSeq.unfoldAsync` to generate new
 `AsyncSeq`, but I could not find any helper to create one from an
  existing sequence of asynchronous computations (`seq<Async<_>>`).
  The following helper `ofSeqAsync` would help with that:

[code]

- Using `AsyncSeq.concatSeq`, it's cu

[2019-01-01 14:11] wilsoncg commented on #85
I tried a local build but the GenerateHelp build target is failing with the following error:
[code]

After more investigation, it looks like there is a mismatch between the versions of FSharpCore.dll. FakeLib v4.64.13.0 is referencing FSharp.Core v4.4.1.0 which is used as part of FSharp.Formatting in generate.fsx, while the main project build is referencing FSharp.Core v3.1.2 (net45) & FSharp.Core

[2019-01-08 19:57] dsyme commented on #99
Yes, these are both sensible design additions

[2019-01-08 19:58] dsyme commented on #98
It's true, though I certainly remember using these when playing around with AsyncSeq, testing and so on.   Perhaps renaming to `toListSynchronously` and and `toArraySynchronously` may be right for now?

[2019-01-09 13:52] eulerfx commented on #99
Yes, I think all of these make sense, PR would be great :)

[2019-01-09 13:54] eulerfx commented on #98
I'd second the rename. I agree that use of `Async.RunSynchronously` is troublesome and that these operations conceal it (particularly from a code quality scanner).

[2019-01-09 13:55] eulerfx commented on #96
Yes, I think this makes sense.

[2019-01-09 14:00] eulerfx commented on #95
I think this is a sensible optimization. I haven't thought through all of the edge cases though.

[2019-01-09 14:53] enricosada commented on #97
While having a strong named version is needed in some scenario, it make noise for normal .NET users who doesnt need it and after strong naming need to add assembly binding redirects.

As you said, to have it signed is possibile to use [strongnamer](https://github.com/dsplaisted/strongnamer) in the consumer app/lib and it can be set it as development dependency too (`PrivateAssets="All` in fsproj o

[2019-01-09 16:05] edud69 commented on #97
I don't think there was any version that was previously strongly signed also.

[2019-01-19 14:05] wilsoncg commented on #85
@eulerfx /@dsyme what's the steps for updating

[2019-01-19 14:52] wilsoncg commented on #85
Resolved in #103

[2019-01-19 14:52] #85 closed

[2019-01-19 14:57] wilsoncg opened #104 "nuget publish"
@eulerfx / @dsyme
How to bump the nuget package version?
I'd also like to re-publish the API documentation at the same time (as now the links to line numbers in master are out of whack because of commits).

[2019-02-26 13:01] dsyme commented on #104
Hi @wilsoncg, my apologies for the delay.

Bumping the version number is simply adding a new entry to `https://github.com/fsprojects/FSharp.Control.AsyncSeq/blob/master/RELEASE_NOTES.md`

thanks
don

[2019-03-13 16:30] mattstermiller commented on #38
I was extremely confused by this as well. My use case was yielding a single value in the sequence given an `Async<T>`. I used return, which type checked, so I was expecting the async seq to have this one value produced by the async expression, but got nothing. The crux of this issue is that the builder's return accepts any parameter and ignores it.

The adjustment to the compiler is nice, since I

[2019-03-13 17:40] mattstermiller commented on #38
I tried to create a pull request for the above, but encountered a problem with specifying the signature in the fsi file. The compiler required me to define the Return method as `member x.Return (_: unit) = empty`, but there doesn't seem to be a way to define the signature for that. `member Return : unit -> AsyncSeq<'T>` gives the error `Module 'FSharp.Control.AsyncSeq' requires a value 'member Asy

[2019-05-28 20:28] akeeton opened #105 "GitHub link in documentation points to wrong line number"
### Description

In the [documentation for `map`][1], the link to the GitHub source is incorrect.  It points to [line 950][2]. Instead, it should point to [line 956][3].

### Repro steps

Please provide the steps required to reproduce the problem

1. Visit https://fsprojects.github.io/FSharp.Control.AsyncSeq/reference/fsharp-control-asyncseq.html
2. Scroll down to the documentation for `map`
3. Cl

[2019-05-28 20:51] wilsoncg commented on #105
Let me see if I can fix up

[2019-06-09 19:50] wilsoncg commented on #105
Ok, making progress. Documentation has been updated and pushed to gh-pages branch, so github links look correct, can you verify you are happy?

[2019-06-13 13:03] akeeton commented on #105
Looks good.

[2019-06-13 13:03] #105 closed

[2019-07-17 19:59] jbtule commented on #31
I needed a `mapAsyncParallelUnordered` so I took the `mapAsyncParallel` and modified it for use in an opensource tool. Just for thought I'd share since I came across this issue 4 years later hoping for said function.

https://github.com/ekonbenefits/dotnet-ssllabs-check/blob/98ff194eb4010324224f1e63b042f934d1f9097d/AsyncSeq.fs#L54-L65

[2019-09-29 00:01] hotyes opened #106 "Can't find v2.0.22 on NuGet"
Hi there, just realised that can't find version 2.0.22 on nuget but based on the RELEASE_NOTES its already released

https://github.com/fsprojects/FSharp.Control.AsyncSeq/blob/master/RELEASE_NOTES.md#2022---28052019

[2019-09-29 17:45] #104 closed

[2019-09-29 17:47] wilsoncg commented on #106
Apologies, I was having issues with the nuget publish last time I tried.
I have now published 2.0.22.
Now help documentation & release notes & assembly info should all line up.
Let me know if looks good for you too?

[2019-09-29 18:40] hotyes commented on #106
thanks !

[2019-09-29 18:57] #106 closed

[2019-11-25 15:47] mattstermiller commented on #38
This issue confused two of my teammates again last week (we're a team of only 6, so that really hurts). I've submitted a PR with my best effort to fix this issue.

[2019-11-25 16:23] mattstermiller commented on #38
As a workaround to stop the pain now, I've added this to our project to define a version of the CE builder without the Return:

[code]

[2019-11-26 13:28] dsyme commented on #38
So if I understand correctly we should just remove the `Return` from the builder in this repo (and accept the breaking change if people are using `return` explicitly in `asyncSeq`)

[2019-12-04 13:17] #96 closed

[2020-01-23 21:49] baronfel opened #109 "Can a new release with asyncseq support be published?"
### Description

With the release of .net core 3.0 and C# 8, AsyncEnumerables are becoming more prevalent. The AsyncSeq support for them has not yet been released and I see questions about it fairly-often on the FSSF slack.  Could a new version of this library be published with those additions?

[2020-01-23 21:51] fluxlife commented on #109
Bump

[2020-01-29 08:04] wilsoncg commented on #109
bear with me, let me attempt a release

[2020-01-29 10:57] wilsoncg commented on #109
That's it released.
Note, API generated reference docs does not currently contain the new ofAsyncEnum/toAsyncEnum because generation target points at net 45 (Framework) output, which does not contain added IAsyncEnumerable method.
I will see what is possible for adding into the documentation.

[2020-01-29 11:06] #109 closed

[2020-03-03 12:54] njlr opened #110 "Fable support?"
As it stands now, it this library does not seem to support Fable. According to [the Fable docs](https://fable.io/docs/your-fable-project/author-a-fable-library.html), it is quite simple to add by modifying the project file:

[code]

Is Fable support something that would be accepted in a PR?

[2020-03-23 19:55] dsyme commented on #110
Yes

[2020-04-06 15:07] xperiandri opened #111 "Add ofIQueryable method"
### Actual behavior

Currently to produce `AsynSeq` from `IQueryable` I have to write
[code]

### Expected behavior

But I could write
[code]

### Related information

* FSharp.Control.AsyncSeq 2.0.23

[2020-04-06 21:49] dsyme commented on #111
Can you send a PR for this?

[2020-04-06 21:51] xperiandri commented on #111
Yes, I will

[2020-04-15 07:26] xperiandri commented on #111
@dsyme done in https://github.com/fsprojects/FSharp.Control.AsyncSeq/pull/112

[2020-05-28 10:47] wilsoncg commented on #111
Released in 2.0.24

[2020-05-28 10:47] #111 closed

[2020-06-15 09:38] Shmew commented on #110
I just spent some time on this to see if it's reasonably possible, which it doesn't appear to be unfortunately. You can see all of the code that has to be blocked out in this [commit](https://github.com/Shmew/FSharp.Control.AsyncSeq/commit/90067caaa11f502a9c5694079b9f603941f75680).

[2020-06-15 12:10] dsyme commented on #110
Hmmm it's not a huge change, 26 lines in this file https://github.com/Shmew/FSharp.Control.AsyncSeq/commit/90067caaa11f502a9c5694079b9f603941f75680#diff-f33750e1be3b0c8a2b10b87e5036e825

[2020-06-15 13:24] Shmew commented on #110
Yeah, I was still getting a lot of compiler errors with that. I'm not really sure just how much of the functionality is stripped with those changes. I haven't used this library before, but I re-discovered it and was hoping to use it on both the front-end and back-end for SignalR streaming.

[2020-06-15 14:18] Shmew commented on #110
After some more tinkering:

![image](https://user-images.githubusercontent.com/11186595/84668343-26cfff80-aee9-11ea-9c83-eb36d8c691f9.png)

[2020-06-16 03:48] Shmew commented on #110
I think I've got all the kinks worked out, there was some things I had to adjust with compiler directives to get them to work with Fable, but it seems to be going smoothly now. Should be able to put in a PR in the next couple days after I work my way through all these tests.

![image](https://user-images.githubusercontent.com/11186595/84729812-3cc9d880-af5a-11ea-9083-9ed3cf1730b1.png)

[2020-06-16 12:39] wilsoncg commented on #110
@Shmew good work, let me know when ready and I can help with a release.

[2020-06-16 13:56] Shmew commented on #110
So I haven't looked into this yet since I'm just getting the main things working that should work ootb, but how open are you all to me implementing alternative fable-friendly versions of the pieces of this that use tasks (since tasks aren't supported by Fable) toggled with compiler directives?

As it stands, these will not be supported:
* iterAsyncParallel
* iterAsyncParallelThrottled
* ofObservab

[2020-06-17 12:56] dsyme commented on #110
I think it's ok, but in a separate PR so we can assess the complexification.

[2020-06-17 13:50] Shmew commented on #110
I fixed a few things that were necessary to get the bulk of things working (functions that don't use tasks under the hood). I'm not really sure I can fix the other things without a `Fable.Core` dependency to replace the usage of tasks... so I think the PR is as good as it gets with that being said.

[2020-07-21 11:57] #110 closed

[2020-07-22 13:25] #3 closed

[2020-07-22 13:25] #62 closed

[2020-07-22 13:25] #97 closed

[2020-07-28 11:09] OnurGumus opened #117 "3.x fails with fable"
### Description

When I use the library with fable I am getting the below error:
`
Module build failed (from ./node_modules/fable-loader/index.js):
Error: Could not find file '/home/onur/projects/infill2/.fable/FSharp.Control.AsyncSeq.3.0.1/AsyncSeq.fsi'.
    at /home/onur/projects/infill2/node_modules/fable-loader/index.js:98:22
`

The downgrading to 2.x solves the issue.

[2020-08-04 14:28] davedawkins commented on #117
Also getting same error. The .fsi is in the git repository, was it missed from the pkg?

[2020-08-05 00:05] dsyme commented on #117
I'm not sure, I know nothing about fable packaging but did accept a pr. Can you take a look?

[2020-08-05 04:45] davedawkins commented on #117
I think you can ignore the Fable bit. It appears to be an issue with the NuGet pkg. I'm not sure how these are built, but if you're able to fix the NuGet pkg then you'll fix Fable too.
I may be able to research the nuget build procedure tomorrow.

[2020-08-25 13:40] martinmoec commented on #117
I have also come across this issue. The reason is that the fable compiler will copy the contents of
`<ItemGroup>
    <Content Include="*.fsproj; **\*.fs" PackagePath="fable\" />
  </ItemGroup>` into a .fable folder upon compiling. The copied .fsproj file includes `<Compile Include="AsyncSeq.fsi" />`, which is not copied by the Fable compiler, as only the .fsproj and .fs files are copied.

Changing

[2020-09-05 09:55] njlr commented on #117
Would someone be able to push this fix (https://github.com/fsprojects/FSharp.Control.AsyncSeq/pull/118) to Nuget?

[2020-09-05 17:55] wilsoncg commented on #117
done, v3.0.2 released
let me know if any further issues

[2020-09-06 18:17] #117 closed

[2020-10-09 12:08] fwaris opened #119 "Best way to convert System.Collections.Generic.IAsyncEnumerable<'t> to AsyncSeq<'t>?"
The Azure EventHub API returns a IAsyncEnumberable<'t> (from BCL).

I would like to convert it to asyncSeq (or FSharp.Control.IAsyncEnumerable<'t>) (for obvious reasons).

The following code type checks but there might be a better way that I am missing. Any suggestions would be appreciated.

[code]

[2020-10-14 13:10] fwaris commented on #119
This works (the first version does not as it unallocates aeEnum). This also properly handles disposition.

[code]

[2020-11-09 19:26] thednaz opened #122 "iterAsyncParallel and iterAsyncParallelThrottled may fail to cancel"
### Description

`iterAsyncParallel` and `iterAsyncParallelThrottled` may fail to cancel; this can be observed when exceptions are thrown from another Async in `Async.Parallel`.

### Repro steps

Execute the following code snippet

[code]

`iterAsyncParallel` and `iterAsyncParalleThrottled` will both sometimes not return and continue running forever. Changing to `iterAsync` always throws and stops

[2020-11-19 07:13] voroninp opened #123 "Add YieldFrom overload for seq<'a>?"
I'd like to turn `Async<seq>` to `AsyncSeq`

While this works
[code]
`yield!` version does not:
[code]

I need this to get all pages from the endpoint in one go. Reading a single page yields `Async<seq<Result>>` , I'd like the result to be presented as `AsyncSeq`

[2020-11-21 14:18] bddckr opened #124 "Support .NET Standard 2.0"
Is there a reason this awesome project is targeting .NET Standard 2.1 instead of 2.0? It seems to work just fine for me after I changed this line:
https://github.com/fsprojects/FSharp.Control.AsyncSeq/blob/0ebf3426138aa2e1b796c28a50a87efef07ce405/src/FSharp.Control.AsyncSeq/AsyncSeq.fs#L1749

In one of my projects I'm targeting .NET Framework, which ends with [support for .NET Standard 2.0](https:

[2020-11-21 21:56] voroninp opened #125 "Combination of groupBy and mapAsync involving access to the group causes deadlock."
### Description

My code deadlocks when working with AsyncSeq pipeline.

### Repro steps

Code example:

[code]

### Expected behavior
No deadlock, or some xml-doc remarks  with the warnings of such possibility, if this is by design.

### Known workarounds

It looks like I have to eagerly enumerate the sequence, so all groups get resolved

### Related information

* Operating system Win 10
* .NET

[2020-11-22 07:05] voroninp opened #126 "[Feature] Can we have sort, sortBy, sortDescending and sortByDescending methods for AsyncSeq?"
It would be nice to have as many counterpart methods of `Seq` as possible. `AsyncEnumerable` extensions in `System.Interactive.Async` package contains these extensions for `IAsyncEnumerable`.

[2020-11-22 13:50] wilsoncg commented on #124
I think the idea was to simplify the maintenance process. The build process was getting a bit hairy, unit tests & document generation were running as .NET framework (thanks to a dependency on Razor formatting), whilst build & package ran in .NET core. Throw into the mix a separate CI build for mono and suddenly maintenance becomes quite the headache.

Now that .NET framework's days are numbered, i

[2020-11-22 14:06] bddckr commented on #124
That all makes sense to me. Thanks for the insight!

[2020-11-26 15:06] fwaris commented on #119
I did not realize this before but the .net core version of AsyncSeq does have a function 'AsyncSeq.ofAsyncEnum' to convert from BCL IAsyncEnumberable<'t> to the FSharp.Control.IAsyncEnumberable<'t>.

The .net framework version of the package does not. I was using the .net framework version earlier as I also wanted to use fsharp interactive with EventHubs and therefore had to write my own conversio

[2020-11-26 15:06] #119 closed

[2020-11-26 16:45] wilsoncg commented on #119
@fwaris

Yes this one has caught me out a few times now. A lot of F# developers in the community are using vscode as their preferred environment, development on the tooling seems to iterate just a tad quicker.

Also, you could try `dotnet fsi` with .NET 5.0 installed, that should give you .NET core?

[2020-11-27 13:04] fwaris commented on #119
@wilsoncg I also use vscode but intellisense does not work well for .fsx files in vscode.

Intellisense works fine for files inside a project.

Also I am now using [#r "nuget: ...."](https://devblogs.microsoft.com/dotnet/announcing-f-5/) refs in .fsx files and I don't see them working in vscode even with the 'languagepreview' flag set.

[2020-11-27 21:54] wilsoncg commented on #119
@fwaris Ok, I've just tried out and it works in vscode with ionide 4.17.0.

- .NET 5.0 installed, vscode with ionide 4.17.0
- there is no global.json on the directory path which overrides the sdk version chosen
- create new F# console fsproj `dotnet new console --language F#`
- add .fsx file to fsproj
- in settings.json set `"FSharp.fsiExtraParameters": ["--langversion:preview"]`
- vscode reload w

[2020-11-28 18:48] dsyme opened #129 "Update to use github actions"
1. I've removed travis support

2. I've enabled github actions

We still have an AppVeyor action that is useful as it builds and tests for fable. We should move this over to GitHub actions I think

[code]

[2020-11-29 13:03] fwaris commented on #119
@wilsoncg appreciate your help. Indeed the above works however adding a moderate amount of complexity to the script stops intellisense from working in vscode - please see below:

[code]
The code works fine when submitted to fsi so it is correct code (Note: you will have to set the correct path to the referenced native library, for your own environment)

[2020-11-30 12:42] dsyme commented on #126
Yes, agreed - would you like to submit a PR? :-)

[2020-11-30 13:02] voroninp commented on #126
Ok, I'll try to do it ;-)

[2020-12-24 01:26] smoothdeveloper opened #132 "netstandard2.1 only target forbids using the library in .net framework"
It seems since v3 release, this library is only targetting netstandard2.1.

It is not possible to reference it in F# projects targetting .net framework.

Can we add a separate target for it or set it back to netstandard2.0?

[2020-12-25 09:26] bddckr commented on #132
See #124.

I've been using the latest [`AsyncSeq.fs`](https://github.com/fsprojects/FSharp.Control.AsyncSeq/blob/master/src/FSharp.Control.AsyncSeq/AsyncSeq.fs) and just adjusted the `#ifdef`s to allow netstandard2.0 without issues so far.

[2021-01-10 19:33] KingKnecht opened #133 "asyncSeq not available"
### Description

Neither `asyncSeq `is available nor `AsyncSeq`

![image](https://user-images.githubusercontent.com/4339172/104133162-13531d00-5382-11eb-8380-374a76499407.png)

### Repro steps

1. Create a new F# console application (netcoreApp3.1)
2. paket init
3. paket add FSharp.Control.AsyncSeq (paket version 5.257.0, FSharp.Control.AsyncSeq version 3.0.3)
4. Add reference to project file
Proj

[2021-01-11 12:41] wilsoncg commented on #133
I created a fresh console project from scratch and noticed similar behaviour.  It's quickly resolved with a `dotnet build` and a reload window command (ctrl+shit+P, `reload window`).

[2021-01-11 12:49] wilsoncg commented on #133
[code]

[code]

![image](https://user-images.githubusercontent.com/1066103/104184383-48f01880-540b-11eb-9da6-57cea739caf4.png)

[2021-01-11 13:24] dsyme commented on #133
Hmmm strange, I haven't tried to reproduce.

Are there any warnings on command line restore of build using `dotnet restore` or `dotnet build`?  Perhaps post a log of a clean build using `dotnet build -v:d`

[2021-01-11 13:33] KingKnecht commented on #133
Tested it on another machine today. At first, same behavior. Then I did a couple of "Reload window", which I didn't know is available. Now `AsyncSeq` is there.
That's strange, because I didn't know the "Reload window" command, I always closed & opened VSCode, which didn't fix it.
In my "real" project I'm using FAKE (it's a SAFE Stack based app). So I'm not sure if `dotnet build` would make much se

[2021-01-11 13:35] dsyme commented on #133
OK so it's some kind of Ionide/VSCode bug I think

[2021-01-11 13:35] #133 closed

[2021-01-11 15:46] KingKnecht commented on #133
Removing content of the .ionide folder did the job in my "real" project.

[2021-04-14 13:08] #129 closed

[2021-04-14 15:02] toburger commented on #124
As your library is used as a transient dependency from other libraries the use of `netstandard2.1` imposes some problems.

If the library itself is built with `netstandard2.0` the following warning get's shown:

The lib should run with `netstandard2.0` perfectly fine. No need to support old .NET Framework?

[2021-04-14 18:56] dsyme commented on #124
I'm fine with adding netstandard2.0 tbh, and trimming out the other functionality

[2021-04-20 16:41] mlaily commented on #125
I wasted an hour on the same problem.

Then, in the span of two minutes, I found this issue and read the [groupBy documentation](https://fsprojects.github.io/FSharp.Control.AsyncSeq/reference/fsharp-control-asyncseq.html#groupBy) which contains the following warning:

Using `... |> AsyncSeq.mapAsyncParallel` instead of `... |> AsyncSeq.mapAsync` fixes the dead-lock.

I guess this is by design. It

[2021-04-21 11:59] dsyme commented on #125
Perhaps putting a warning CompilerMessage attribute on groupBy makes sense.  It's too subtle.

[2021-05-21 16:32] bddckr commented on #124
Thanks for the work in #135! ❤️

Can we get this released to NuGet.org? I think we can close this issue once it's out 😄

[2021-07-22 15:44] dsyme commented on #132
Close in favour of https://github.com/fsprojects/FSharp.Control.AsyncSeq/issues/124

[2021-07-24 16:20] dsyme commented on #132
3.0.5 released with support for both netstandard2.0 and netstandard2.1 https://www.nuget.org/packages/FSharp.Control.AsyncSeq/3.0.5

[2021-07-24 16:20] #132 closed

[2021-07-24 16:20] dsyme commented on #124
3.0.5 released with support for both netstandard2.0 and netstandard2.1 https://www.nuget.org/packages/FSharp.Control.AsyncSeq/3.0.5

[2021-07-24 16:20] #124 closed

[2021-08-23 22:16] dsyme commented on #126
Done! thanks!

[2021-08-23 22:16] #126 closed

[2021-09-15 07:41] njlr opened #145 "Currently broken with Fable"
### Description

Latest Nuget package (`3.1.0`) is broken with Fable.

It appears that Fable tests are not part of the CI, probably why it slipped.

I have tried building the code, but was unable to get things working.

Some steps:

[code]

### Related information

* Operating system Ubuntu `20.04`
* Branch `master`
* Database versions and sample databases being used: None
* .NET Runtime, CoreCLR

[2021-09-15 11:51] dsyme commented on #145
@alfonsogarciacaro Could you or someone else familiar with debugging Fable failures take a look please?  Thanks!

[2021-09-16 12:35] alfonsogarciacaro commented on #145
@njlr So you mean the previous Nuget package was working fine with Fable? The error is weird, IEnumerable type should be easily found. I will try to debug.

[2021-09-16 12:42] njlr commented on #145
Yes, a previous version was working with Fable (sorry can't recall which it was, but it was several versions ago). I tried to build the latest code with Fable 3 but hit this error.

[2021-10-06 13:48] dsyme commented on #145
@alfonsogarciacaro @njlr I'm not aware of how to get this working with Fable latest - please advise?

Thanks

[2021-10-06 22:08] alfonsogarciacaro commented on #145
@dsyme Sorry, forgot about this one! I've sent a new PR to update the tests #148. With that Fable tests will also run in CI (at least for PRs). I hope it also helps with this issue although I couldn't reproduce the exact problem reported by @njlr.

[2021-10-14 17:07] njlr commented on #145
https://github.com/fsprojects/FSharp.Control.AsyncSeq/pull/149

[2021-10-14 20:00] BrianVallelunga opened #150 "TaskSeq?"
Is there a plan to add an equivalent taskSeq CE to this library? Thanks

[2021-10-14 21:41] BrianVallelunga commented on #150
Thanks for the news. That's great to hear.

[2022-02-10 12:36] bartelink commented on #74
I ended up resolving a very similar set of issues [as documented here, with a testbed](https://stackoverflow.com/a/71065152/11635) by implementing `mapAsyncParallelThrottled` as:
[code]

[2022-02-16 22:17] dsyme commented on #74
I'm not sure why it was left behind - it sounds like it would make perfect sense.

1 - yes

2 - that seems much like Async.Parallel with maxDegreeOfParallelism https://fsharp.github.io/fsharp-core-docs/reference/fsharp-control-fsharpasync.html#Parallel

3 - I don't think so.  A separate throttling is needed at each construct that introduces parallelism, it's not compositional throughout Async comp

[2022-02-16 22:17] #74 closed

[2022-02-17 01:06] bartelink commented on #74
Hm, mea culpa: it seems as of `FSharp.Control.AsyncSeq` v `2.0.23` an `AsyncSeq.iterAsyncParallel` already exists, so consider this follow-up closed.

It would provide a similar throttling effect by having the computation first acquire a semaphore, and release it on exit. It would be true to say that it would not provide any useful function when compared to simply using the `maxDegreeOfParallelism

[2022-03-30 12:50] ordinaryorange opened #152 "AsyncSeq deadlocks in Blazor WASM environment"
### Description

When calling AsyncSeq.ofAsyncEnum the thread becomes deadlocked and the app grinds to a halt

### Please provide the steps required to reproduce the problem

Following code called from an async method in a Blazor WASM app (eg OnInitializedAsync())

[code]

### Expected behavior

Don't eat my thread, it is the only one I have

### Known workarounds

Grabbing the AsyncEnumerator and

[2022-07-29 21:23] bigjonroberts commented on #150
Was just looking for this today.  Any updates?
I'm able to convert to AsyncSeq for this use-case, but would love to see `TaskSeq` available for my other use-cases.

[2022-08-22 12:23] abelbraaksma commented on #150
For reference, there's code in F# right now that has the `taskSeq`, used for perf testing. It was written by @dsyme I believe, but currently misses the dynamic parts: https://github.com/dotnet/fsharp/blob/d5312aae8aad650f0043f055bb14c3aa8117e12e/tests/benchmarks/CompiledCodeBenchmarks/TaskPerf/TaskPerf/taskSeq.fs.

My guess it, this would be a good starting point for implementing this.

[2022-09-06 09:57] Xyncgas opened #155 "AsyncSeq.mapAsyncParallel alternatives"
``` AsyncSeq.mapAsyncParallel ``` returns a sequence with order preserved, however we often want to read the first thing that's available and throw away the rest

I propose a generic version ``` AsyncSeq.mapAsyncUnorderedParallel ``` that returns a sequence in the order of first available

[2022-09-06 09:58] Xyncgas commented on #155
@dsyme
@martinmoec
@eulerfx

[2022-09-06 10:56] Xyncgas commented on #155
Here's the code
[code]

[2022-09-07 11:02] dsyme commented on #155
@Xyncgas Seems reasonable!

[2022-09-15 02:13] Xyncgas commented on #152
Interesting, apparently you are writing a function in f# and calling it in blazor, can I please see the function in f#

[2022-09-17 00:57] ordinaryorange commented on #152
[Here ](https://github.com/ordinaryorange/BlazorApp1)is a repo
Run the app and index page will deadlock

[2022-09-22 09:44] natalie-o-perret opened #156 "Suggest to add a `chunkBy` function (to group and yield adjacent items sharing the same key) to the library"
### Description

Bumped into this at work the other day, and thought this could be a nice addition to the library (unless it's already part of it under another name which wouldn't be too surprising since I'm pretty good at missing out the very obvious).

Basically the idea would be to add a `chunkBy` function to the `AsyncSeq` module that allows to group and yield adjacent items sharing the same k

[2022-11-04 15:27] abelbraaksma commented on #150
@BrianVallelunga, it's taken a bit of time, but I picked up the gauntlet and recently finished a decent MVP for this, after ironing out a few bugs in the _resumable state machine_ code (there are PRs that document this in case you're curious).

Just today I moved it to FsProjects with help by @dsyme, you can find it here: https://github.com/fsprojects/FSharp.Control.AsyncSeq.

Still some housekeep

[2022-11-04 18:44] BrianVallelunga commented on #150
Great to hear. Thanks!

[2022-11-10 12:29] Xyncgas opened #158 "[General Question]"
If I iterate the AsyncSeq multiple times do I make multiple fetch request

[2022-11-10 18:21] abelbraaksma commented on #158
Depending on how you code “fetch requests”, yes. If your code executes a side effect, each iteration, just like with any enumerable (like `seq`) will be iterated again.

However, you can apply multiple map or collect operations at once. They won’t execute until the sequence is executed.

AsyncSeq has a function `cache` that you can use to prevent side effects to run again, while keeping late bindi

[2022-11-10 18:29] abelbraaksma opened #159 "Deprecate `FSharp.Control.IAsyncEnumerable` in favor of the same type in BCL"
### Description

With the event of TaskSeq coming to the masses, which used the NetStandard 2.1 `IAsyncEnumerable`, using both this lib and that one leads to issues because the same type with slightly different semantics lives in FSharp.Control.

This can be very subtle, for instance if your AsyncSeq reference is transient, you may not even be aware that you’ve brought this type into scope. Then y

[2022-11-10 18:39] abelbraaksma commented on #156
You may want to take a close look at what happens if multiple threads are iterating with the resulting sequence. I think the code can cause race conditions. There are functions in this library that specifically warn about that, so maybe it’s enough to just say so in the doc comments.

I’m currently considering adding the same to `TaskSeq`, then came across this.

[2022-11-11 01:02] Xyncgas opened #160 "[Question] AsyncSeq.MapAsyncParallel"
I read the sequence that's returned by this function, do I get to read the first element when all elements are finished on mapping, or I can start reading the first element as soon as it's mapped even though there's more elements coming into the AsyncSequence to be processed

[2022-11-11 11:45] Xyncgas commented on #158
Thanks

[2022-11-11 11:45] #158 closed

[2022-11-11 16:09] natalie-o-perret commented on #156
This is a good point 🤔.
Tbs, it's also the case with the `seq` then, innit?
What about the other functions of the `AsyncSeq` module?
Are they all safe regarding the race conditions when multiple threads are iterating the resulting sequence?

[2022-11-12 04:33] abelbraaksma commented on #156
I’m not sure about `seq`, I’d have to check. But I think the premise there is that you get a new enumerator, but that you shouldn’t share this enumerator between threads.

My concern with AsyncSeq is that there’s a much larger chance it’s used in multi threaded scenarios. Not entirely sure what the base premise is with sharing enumerators. While that’s generally code smell, I think this lib ought

[2022-11-13 00:06] abelbraaksma commented on #123
Both your solutions work the same way here. If `yield!` were implemented (not sure it has, since then), it would act the same as your first solution here. After all, sequences are delay-iterated.

If you want the whole result at once, then `AsyncSeq` is probably not the correct solution. Though, if you already have an `Async<seq>`, and you want to read all at once, you can just do `Async.map Seq.t

[2022-11-18 07:06] Xyncgas commented on #160
For example, if I do
[code]
Do I get the first element as soon as some element is mapped or do I have to wait for all elements mapped

[2022-11-18 09:55] Xyncgas opened #162 "[Question] How to reduce Async<unit[]>"
if I map a sequence to a bunch async operations
[code]
I get Async<unit[]>, so I had to use let! instead of do!, and I had to return () instead of just leaving do! in place

normally I get Seq.iter I can use, but I can't here because I want to actually run the asyn operation in parallel
It's not like there is Seq.iterASync

what do you guys do

[2022-11-19 07:42] Xyncgas commented on #160
@dsyme

[2022-11-19 07:43] Xyncgas commented on #162
@dsyme

[2022-11-19 20:52] #162 closed